<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>平安银行</string>
	<string>光大银行</string>
	<string>华夏银行</string>
	<string>民生银行</string>
	<string>浦发银行</string>
	<string>中国银行</string>
	<string>花旗银行</string>
	<string>包商银行</string>
	<string>上海银行</string>
	<string>建设银行</string>
	<string>深发银行</string>
	<string>农业银行</string>
	<string>工商银行</string>
	<string>宁波银行</string>
	<string>北京银行</string>
	<string>东亚银行</string>
	<string>广州银行</string>
	<string>南京银行</string>
	<string>天津银行</string>
	<string>渤海银行</string>
	<string>徽商银行</string>
	<string>成都银行</string>
	<string>杭州银行</string>
	<string>大连银行</string>
	<string>重庆银行</string>
	<string>邮政储蓄银行</string>
	<string>汉口银行</string>
	<string>长沙银行</string>
	<string>河北银行</string>
	<string>温州银行</string>
	<string>盛京银行</string>
	<string>上海农商银行</string>
	<string>哈尔滨银行</string>
	<string>江苏银行</string>
	<string>内蒙古银行</string>
	<string>吉林银行</string>
	<string>齐商银行</string>
	<string>恒丰银行</string>
	<string>青岛银行</string>
	<string>洛阳银行</string>
	<string>郑州银行</string>
	<string>齐鲁银行</string>
	<string>东莞银行</string>
	<string>福建海峡银行</string>
	<string>厦门银行</string>
	<string>浙商银行</string>
	<string>浙江泰隆银行</string>
	<string>南昌银行</string>
	<string>九江银行</string>
	<string>富滇银行</string>
	<string>桂林银行</string>
	<string>贵阳银行</string>
	<string>晋商银行</string>
	<string>西安银行</string>
	<string>长安银行</string>
	<string>乌鲁木齐银行</string>
	<string>宁夏银行</string>
	<string>兰州银行</string>
	<string>赣州银行</string>
	<string>汇丰银行</string>
	<string>渣打银行</string>
	<string>星展银行</string>
	<string>永亨银行</string>
	<string>华侨银行</string>
</array>
</plist>
